.about {
  margin: 2em 0;
}

.about__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}

.about__info--title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.about__info--subtitle {
  font-weight: 300;
  font-size: 1.1rem;
  /* width: 30ch; */
  margin-left: auto;
  margin-right: auto;
  color: var(--Dark-Gray);
}
