*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Alata', sans-serif;
}

img {
	max-width: 100%;
}

h1,
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
